// bootstrap.scss
@import 'bootstrap.min.css';
//@import 'bootstrap.min.css';


:root {
    --v-primary-color: #133D8D;
    --v-secondary-color: #B0CBEA;
    --v-primarydark-color: #00224D;
    --v-dark-color: #12183F;
    --bs-gutter-x: 2.4rem;
}

img {
    margin: 0;
    padding: 0;
}


/*
.row {
    --bs-gutter-x: 2.4rem;
    & > * {
        --bs-gutter-x: 2.4rem;
    }
}
*/




html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color: var(--v-dark-color)
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}


.btn {
 
}

.btn-primary {
    border-radius: 100px;
    background: var(--v-primary-color);
    border: 1px solid var(--v-primary-color);
    text-transform: uppercase;
    padding: 7px 20px;
    font-size: 2rem;
    line-height: 28px;
    font-weight: 700;
    @media only screen and (max-width: 768px) {
        font-size: 1.4rem;
        line-height: 2.8rem;
        padding: 2px 16px;
        text-align: center;
    }
}

.navbar {
    top: 0;
    z-index: 1020;
    color: var(--bs-white);
    background: var(--v-primary-color);
    .navbar-toggler {
        border: none;
        position: relative;
        &:focus {
            box-shadow: none;
        }
        &[aria-expanded="true"] {
            .navbar-toggler-icon {
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMiIgeT0iMTguOTcwNiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjMiIHRyYW5zZm9ybT0icm90YXRlKC00NSAyIDE4Ljk3MDYpIiBmaWxsPSJ3aGl0ZSIvPgo8cmVjdCB3aWR0aD0iMjQiIGhlaWdodD0iMyIgdHJhbnNmb3JtPSJtYXRyaXgoMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgLTAuNzA3MTA3IDIgNC4xNjcyNCkiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
            }
        }
        &-icon {
            width: 2.4rem;
            height: 2.4rem;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeT0iNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjMiIGZpbGw9IndoaXRlIi8+CjxyZWN0IHk9IjExIiB3aWR0aD0iMjQiIGhlaWdodD0iMyIgZmlsbD0id2hpdGUiLz4KPHJlY3QgeT0iMTgiIHdpZHRoPSIyNCIgaGVpZ2h0PSIzIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
        }
    }

    .navbar-nav {
        width: 100%;
        .nav-link {
            font-weight: 700;
            font-size: 16px;
            color: white;
            text-transform: uppercase;
            border-top: 1px solid white;
            line-height: 40px;
           &.active {
               color: white;
           }
           img {
               height: 24px;
           }
        }
    }
    &-brand {
        img {
            height: 32px;
            @media only screen and (max-width: 768px) {
                height: 24px;
            }
        }
    }
    &-collapse.show {
        margin-top: 0.4rem;
    }

}

.hero-block {
    text-align: center;
    position: relative;
    h1 {
        color: #fff;
        font-size: 6.9rem;
        line-height: 73px;
        margin: 21.0rem auto 5.5rem;
        //PlayFair Font
        font-family: "Playfair Display",sans-serif;
        font-weight: 900;
        max-width: 920px;

        @media only screen and (max-width: 768px) {
            margin: 8.0rem auto 4.8rem;
            font-size: 3.6rem;
            line-height: 36px;
        }
    }
    div.line {
        margin-left: auto;
        margin-right: auto;
        height: 0.8rem;
        background-color: var(--v-primary-color);
        width: 6.5rem;
        border-radius: 4px;
        margin-top: 9.6rem;
        margin-bottom: 16.0rem;
        @media only screen and (max-width: 768px) {
            height: 4px;
            width: 30px;
            border-radius: 3px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }


    .icon-down {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: -32px;
        z-index: 99;
        @media only screen and (max-width: 768px) {
            display: none;
        }
        img {
            width: 64px;
            height: 64px;
        }
    }
}

.programs {
    background: var(--v-primarydark-color);
    color: var(--bs-white);
    padding-top: 6.4rem;
    padding-bottom: 2.4rem;
    min-height: 40vh;
    @media only screen and (max-width: 768px) {
        padding-top: 3.2rem;
    }
    .event-logo {
        padding-bottom: 4rem;
        img {
            width: auto;
            max-height: 11.7rem;
            @media only screen and (max-width: 768px) {
                height: 6.4rem;
            }
        }
    }
    
    .event-topic {
        border-top: 3px solid var(--bs-white);
        padding-top: 2.4rem;
        margin-bottom: 4.0rem;
        .topic-title {
            text-decoration: none;
            color: #fff;
            font-size: 28px;
            line-height: 32px;
            font-weight: 700;
            margin-bottom: 1.6rem;
            font-weight: 700;
            display: block;
            @media only screen and (max-width: 768px) {
                font-size: 1.7rem;
                line-height: 2.1rem;
            }
        }
        .topic-image {
            max-width: 20.4rem;
            @media only screen and (max-width: 768px) {
                max-width: 11rem;
            }
            .spk-photo {
                max-width: 100%;
                border-radius: 4px;
                padding-left: 0;
                padding-right: 0.8rem;
                padding-bottom: 0.8rem;

                img {
                    display: block;
                    width: 98px;
                    height: 116px;
                    max-width: 100%;
                    image-rendering: crisp-edges;
                    -o-object-fit: cover;
                    object-fit: cover;
                    @media only screen and (max-width: 768px) {
                        display: block;
                        width: 48px;
                        height: 65px;
                        max-width: 100%;
                        max-height: 65px;
                    }
                    @media only screen and (max-width: 360px) {
                        display: block;
                        width: 36px;
                        height: 44px;
                        max-width: 100%;
                        max-height: 44px;
                    }
                }
            }
        }
        .topic-date {
            margin-bottom: 3.2rem;
            img {
                @media only screen and (max-width: 768px) {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
            .date {
                color: var(--v-secondary-color);
                font-size: 1.8rem;
                font-weight: 900;
                line-height: 2.2rem;
                padding-left: 0.8rem;
                @media only screen and (max-width: 768px) {
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
        }
        .topic-description, .topic-description-md {
            font-size: 18px;
            line-height: 28px;
            //font-family: Raleway;
            font-weight: 600;
            @media only screen and (max-width: 768px) {
                font-size: 1.2rem;
                line-height: 1.8rem;
                font-weight: 400;
                margin-bottom: 2.4rem;
                
            }
            p {
                margin-bottom: 1.6rem;
            }
        }

        .topic-description-md {
            @media only screen and (max-width: 768px) {
                margin-top: 1.6rem;
            }
        }
    }
}


footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    padding: 1.6rem 0;
    background: #fff;
    border-bottom: 20px solid var(--v-primary-color);
    a {
        color: var(--v-dark-color);
    }
    @media only screen and (max-width: 768px) {
        font-size: 1.0rem;
        line-height: 1.2rem; 
    }
}
