// bootstrap.scss
@import 'bootstrap.min.css';
//@import 'bootstrap.min.css';


:root {
    --v-primary-color: #133D8D;
    --v-secondary-color: #B0CBEA;
    --v-primarydark-color: #00224D;
    --v-dark-color: #12183F;
    --bs-gutter-x: 2.4rem;
    --mc-black-64: rgba(0,0,0, 0.64);
    --mc-black-32: rgba(0,0,0, 0.32);
    --mc-gray-btn: #606060;
    --mc-primary: #ffd100;
}

img {
    margin: 0;
    padding: 0;
}


/*
.row {
    --bs-gutter-x: 2.4rem;
    & > * {
        --bs-gutter-x: 2.4rem;
    }
}
*/




html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color: var(--v-dark-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-wrap {
    flex: 1 0 auto;
}


.btn {
    border-radius: 100px;
    text-transform: uppercase;
    padding: 7px 20px;
    font-size: 2rem;
    line-height: 28px;
    font-weight: 700;
    @media only screen and (max-width: 768px) {
        font-size: 1.4rem;
        line-height: 2.8rem;
        padding: 2px 16px;
        text-align: center;
    }
    &-primary {
        background: var(--v-primary-color);
        border: 1px solid var(--v-primary-color);
    }
    &-secondary {
        background: var(--mc-primary);
        color: black;
        border: 1px solid var(--mc-primary);
        &:hover {
            background: #404040;
            color: white !important;
            border: 1px solid #404040;
        }
    }
}

.navbar {
    top: 0;
    z-index: 1020;
    color: var(--bs-white);
    background: var(--v-primary-color);
    .navbar-toggler {
        border: none;
        position: relative;
        &:focus {
            box-shadow: none;
        }
        &[aria-expanded="true"] {
            .navbar-toggler-icon {
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMiIgeT0iMTguOTcwNiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjMiIHRyYW5zZm9ybT0icm90YXRlKC00NSAyIDE4Ljk3MDYpIiBmaWxsPSJ3aGl0ZSIvPgo8cmVjdCB3aWR0aD0iMjQiIGhlaWdodD0iMyIgdHJhbnNmb3JtPSJtYXRyaXgoMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgLTAuNzA3MTA3IDIgNC4xNjcyNCkiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
            }
        }
        &-icon {
            width: 2.4rem;
            height: 2.4rem;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeT0iNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjMiIGZpbGw9IndoaXRlIi8+CjxyZWN0IHk9IjExIiB3aWR0aD0iMjQiIGhlaWdodD0iMyIgZmlsbD0id2hpdGUiLz4KPHJlY3QgeT0iMTgiIHdpZHRoPSIyNCIgaGVpZ2h0PSIzIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
        }
    }

    .navbar-nav {
        width: 100%;
        .nav-link {
            font-weight: 700;
            font-size: 16px;
            color: white;
            text-transform: uppercase;
            border-top: 1px solid white;
            line-height: 40px;
           &.active {
               color: white;
           }
           img {
               height: 24px;
           }
        }
    }
    &-brand {
        img {
            height: 32px;
            @media only screen and (max-width: 768px) {
                height: 24px;
            }
        }
    }
    &-collapse.show {
        margin-top: 0.4rem;
    }

}

.hero-block {
    text-align: center;
    position: relative;
    h1 {
        color: #fff;
        font-size: 6.9rem;
        line-height: 73px;
        margin: 21.0rem auto 5.5rem;
        //PlayFair Font
        font-family: "Playfair Display",sans-serif;
        font-weight: 900;
        max-width: 920px;

        @media only screen and (max-width: 768px) {
            margin: 8.0rem auto 4.8rem;
            font-size: 3.6rem;
            line-height: 36px;
        }
    }
    div.line {
        margin-left: auto;
        margin-right: auto;
        height: 0.8rem;
        background-color: var(--v-primary-color);
        width: 6.5rem;
        border-radius: 4px;
        margin-top: 9.6rem;
        margin-bottom: 16.0rem;
        @media only screen and (max-width: 768px) {
            height: 4px;
            width: 30px;
            border-radius: 3px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }


    .icon-down {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: -32px;
        z-index: 99;
        @media only screen and (max-width: 768px) {
            display: none;
        }
        img {
            width: 64px;
            height: 64px;
        }
    }
}

.programs {
    background: var(--v-primarydark-color);
    color: var(--bs-white);
    padding-top: 6.4rem;
    padding-bottom: 2.4rem;
    min-height: 40vh;
    @media only screen and (max-width: 768px) {
        padding-top: 3.2rem;
    }
    .event-logo {
        padding-bottom: 4rem;
        img {
            width: auto;
            max-height: 11.7rem;
            @media only screen and (max-width: 768px) {
                height: 6.4rem;
            }
        }
    }
    
    .event-topic {
        border-top: 3px solid var(--bs-white);
        padding-top: 2.4rem;
        margin-bottom: 4.0rem;
        .topic-title {
            text-decoration: none;
            color: #fff;
            font-size: 28px;
            line-height: 32px;
            font-weight: 700;
            margin-bottom: 1.6rem;
            font-weight: 700;
            display: block;
            @media only screen and (max-width: 768px) {
                font-size: 1.7rem;
                line-height: 2.1rem;
            }
        }
        .topic-image {
            max-width: 20.4rem;
            @media only screen and (max-width: 768px) {
                max-width: 11rem;
            }
            .spk-photo {
                max-width: 100%;
                padding-left: 0;
                padding-right: 0.8rem;
                padding-bottom: 0.8rem;

                img {
                    border-radius: 4px;
                    display: block;
                    width: 98px;
                    height: 116px;
                    max-width: 100%;
                    image-rendering: crisp-edges;
                    -o-object-fit: cover;
                    object-fit: cover;
                    @media only screen and (max-width: 768px) {
                        display: block;
                        width: 48px;
                        height: 65px;
                        max-width: 100%;
                        max-height: 65px;
                    }
                    @media only screen and (max-width: 360px) {
                        display: block;
                        width: 36px;
                        height: 44px;
                        max-width: 100%;
                        max-height: 44px;
                    }
                }
            }
        }
        .topic-date {
            margin-bottom: 3.2rem;
            img {
                @media only screen and (max-width: 768px) {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
            .date {
                color: var(--v-secondary-color);
                font-size: 1.8rem;
                font-weight: 900;
                line-height: 2.2rem;
                padding-left: 0.8rem;
                @media only screen and (max-width: 768px) {
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
        }
        .topic-description, .topic-description-md {
            font-size: 18px;
            line-height: 28px;
            //font-family: Raleway;
            font-weight: 600;
            @media only screen and (max-width: 768px) {
                font-size: 1.2rem;
                line-height: 1.8rem;
                font-weight: 400;
                margin-bottom: 2.4rem;
                
            }
            p {
                margin-bottom: 1.6rem;
            }
        }

        .topic-description-md {
            @media only screen and (max-width: 768px) {
                margin-top: 1.6rem;
            }
        }
    }
}

// Footer

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    padding: 1.6rem 0;
    background: #fff;
    border-bottom: 20px solid var(--v-primary-color);
    flex: 0 0 auto;
    a {
        color: var(--v-dark-color);
    }
    @media only screen and (max-width: 768px) {
        font-size: 1.0rem;
        line-height: 1.2rem; 
    }
}



// Brand Category Page



.title-block {
    text-align: center;
    padding-top: 12.0rem;
    overflow: hidden;
    background: url('./img/brand-bg.svg'), #f5f6f8;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @media only screen and (max-width: 992px) {
        padding-top: 6.4rem;
        background-size: cover;
    }
    .brand-logo {
        margin-bottom: 7.2rem;
        @media only screen and (max-width: 768px) {
            height: 80px;
        }
    }
    .pi-info {
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: var(--bs-dark);
        text-decoration: none;
        font-weight: 500;
        display: block;
    }
    .up-title {
        text-transform: uppercase;
        font-size: 2.0rem;
        font-weight: 700;
        margin-bottom: 1.6rem;
        color: var(--mc-black-64);
    }
    .line {
        height: 0.4rem;
        border-radius: 0.4rem;
        background-color: var(--v-dark-color);
        width: 6.4rem;
        margin: 0 auto 3.0rem;
    }
    h1 {
        font-size: 4.4rem;
        line-height: 5.2rem;
        //font-family: "ITCAvantGarde Pro Demi";
        font-weight: 700;
        margin-bottom: 2.4rem;
        @media only screen and (max-width: 992px) {
            font-size: 3.2rem;
            line-height: 3.6rem;
        }
    }

    p.subtitle {
        font-weight: 600;
        font-size: 1.7rpx;
        line-height: 2.1rem;
        color: var(--mc-black-64);
        max-width: 760px;
        margin: 0 auto 7.2rem;
        @media only screen and (max-width: 992px) {
            font-size: 1.8rem;
            line-height: 2.8rem;
        }
    }
}

.show-topics {
    text-align: left;;
    background: rgba(255,255,255, 0.7);
    padding-top: 4.0rem;
    padding-bottom: 7.2rem;
    @media only screen and (max-width: 768px) {
        padding-bottom: 2.4rem;
    }
    .label-topics {
        text-transform: uppercase;
        border-left: 3px solid var(--mc-black-64);
        padding-left: 0.8rem;
        color: var(--mc-black-64);
        margin-bottom: 1.6rem;
        font-weight: 600;
        span {
            font-weight: 700;
            color: #000000
        }
    }
    .topic {
        background: var(--bs-white);
        padding: 24px;
        border-radius: 0.8rem;
        margin-bottom: 4.0rem;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        outline: hidden;
        .wrap {
            border-right: 4px solid var(--mc-black-32);
            margin-right: 1.6rem;
            padding-right: 1.6rem;
            @media only screen and (max-width: 992px) {
                border-right: none;
                border-bottom: 4px solid var(--mc-black-32);
                margin-right: 0;
                padding-bottom: 1.6rem;
            }
        }
        a {
            color: black;
            text-decoration: none;
        }
        &-title {
            color: dark;
            font-size: 4.0rem;
            line-height: 4.6rem;
            margin-bottom: 2.4rem;
            margin-top: 1.6rem;
            font-weight: 700;
            @media only screen and (max-width: 992px) {
                font-size: 2.8rem;
                line-height: 3.2rem;
                margin-bottom: 1.6rem;
            }
        }
        &-date {
            color: var(--mc-black-64);
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: 700;
            padding-bottom: 2.4rem;
            margin-top: auto;
            @media only screen and (max-width: 992px) {
                font-size: 2.2rem;
                line-height: 2.6rem;
                padding-bottom: 0.8rem;
            }
        }

        .topic-description {
            margin-top: 1.6rem;
            p {
                color: var(--mc-black-64);
                font-size: 2.0rem;
                line-height: 2.8rem;
                font-weight: 600;
                letter-spacing: -.01em;
            }
    
            ul {
                li {
                    color: var(--bs-dark);
                    font-weight: 600;
                }
            }
        }

        .spk-photo {
            margin-top: 1.6rem;
            max-width: 120px;
            @media only screen and (max-width: 768px) {
                margin-top: 2.4rem;
                max-width: 100%;
            }
            img {
                border-radius: 4px;
                width: 100%;
                height: 128px;
                max-width: 100%;
                image-rendering: crisp-edges;
                -o-object-fit: cover;
                object-fit: cover;
                @media only screen and (max-width: 360px) {
                    height: 8.0rem;
                }
            }

            .spk-name {
                color: var(--mc-black-64);
                font-size: 1.2rem;
                line-height: 1.66rem;
                font-weight: 700;
                margin-top: 1.0rem;
            }
        }
    }
}

// Section Information

.section-info {
    box-shadow: 0px 8px 24px rgb(0 0 0 / 8%);
    transition: 0.1s ease-in-out;
    &.fixed {
        position: fixed;
        bottom:0;
        left: 0;
        right: 0;
        z-index: 9999;
        background-color: var(--bs-white);
        max-height: 200px;
    }
    &-header {
        padding: 1.6rem 0;
        font-size:2.4rem;
        color: var(--mc-primary);
        line-height: 32px;
        text-align: left;
        cursor: pointer;
        font-weight: 600;
        text-transform: uppercase;
        @media only screen and (max-width: 768px) {
            font-size: 1.6rem;
            line-height: 3.2rem;
        }
    }
    &-button {
        font-size: 2.8rem;
        margin-top: 1.6rem;
        display: inline-block;
        font-weight: 600;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        color: var(--mc-primary);
        &:hover {
            color: var(--mc-primary);
        }
        @media only screen and (max-width: 768px) {
            margin-top: 1.4rem;
            line-height: 3.2rem;
        }
    }
    &-content {
        padding-bottom: 4.8rem;
        margin-bottom: 2.4rem;
        border-bottom: 1px solid var(--mc-primary);
        h1 {
            font-size: 1.8rem;
            font-weight: 700;
            margin-top: 1.6rem;
            margin-bottom: 0.8rem;
        }
        h2 {
            font-size: 1.6rem;
            font-weight: 700;
            margin-bottom: 0.8rem;
        }
        ul {
            margin-bottom: 2.4rem;
            li {
                color: var(--mc-primary);
                padding: 0.8rem 0;
                span {
                    color: var(--mc-gray-btn);
                }
            }
        }
    }
    
}

// Error Page 

.error-page {
    .title-block {
        background: url('./img/error-bg.svg'), #f5f6f8;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: top;
        .pi-info {
            margin-bottom: 2.4rem;
        }
        .line {
            margin: 0 0 3.0rem;
            @media only screen and (max-width: 768px) {
                margin: 0 auto 2.4rem;
            }
        }
        p.subtitle {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.8rem;
            color: var(--mc-black-64);
            max-width: 100%;
            margin: 0 auto 7.2rem;
        }
        .btn-primary {
            background-color: var(--mc-gray-btn);
            border-color: var(--mc-gray-btn);
            &:hover {
                background-color: var(--bs-dark);
                border-color: var(--bs-dark);
            }
        }
    }
}

@media only screen and (max-width: 768px) {
                   
}
@media only screen and (max-width: 360px) {
    
}